@font-face {
    font-family: 'permianseriftypefacebold';
    src: url('PermianSerifTypeface-Bold-webfont.eot');
    src: url('PermianSerifTypeface-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('PermianSerifTypeface-Bold-webfont.woff2') format('woff2'),
         url('PermianSerifTypeface-Bold-webfont.woff') format('woff'),
         url('PermianSerifTypeface-Bold-webfont.ttf') format('truetype'),
         url('PermianSerifTypeface-Bold-webfont.svg#permianseriftypefacebold') format('svg');
    font-weight: normal;
    font-style: normal;

}

