
.lupix-btn, .ui-dialog-titlebar-close,
.ui-dialog-buttonset > button
{
    position: relative;
    padding: 5pt 10pt;
    background-color: #395ECA;

    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.0)),linear-gradient(#EAEAEA,#E9EAED);
    background-position: 1pt 1pt,0 0;
    background-size: calc(100% - 2pt) 50%, 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0.5pt 0.5pt 2pt #333;
    border-radius: 10pt;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7)!important;
    text-shadow: #111111 1pt 1pt 0.5pt;
    border:none;
}

.lupix-btn:hover,
.lupix-btn:focus,
.ui-dialog-titlebar-close:hover,
.ui-dialog-titlebar-close:focus,
.ui-dialog-buttonset > button:hover,
.ui-dialog-buttonset > button:focus
{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0)),linear-gradient(#395ECA,#EAEDF9);
}

.lupix-btn:active,
.ui-dialog-titlebar-close:active,
.ui-dialog-buttonset > button:active
{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.0)),linear-gradient(#597EEA,#EAEDF9);
    color: #ffffff;
}

.ui-widget-header.ui-dialog-titlebar{
    position: relative;
    padding: 5pt 10pt;
    background-color: #395ECA;

    background-position: 1pt 1pt,0 0;
    background-size: calc(100% - 2pt) 50%, 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 4px -2px #333;
    border-radius: 10pt;
    text-decoration: none;
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.0)),linear-gradient(#597EEA,#cccccc);
    color: #ffffff;

    border:none;
}

.ui-dialog.ui-draggable,.ui-widget.ui-widget-content{
    box-shadow: rgba(0, 0, 0, 0.15) 2pt 10pt 10pt;
    border-radius:10pt;
    border: 2pt outset #597EEA;
    background:linear-gradient(90deg,rgba(234,237,249,1) , rgba(234,237,249,0.5)2% ,rgba(234,237,249,0.5)98%,rgba(234,237,249,1)), url(../img/material.jpeg);
}

.ui-dialog-titlebar.ui-widget-header, .ui-dialog-title{
    font-weight: normal;
}

.ui-dialog-buttonpane.ui-widget-content{
    background: transparent;
    padding: 0em;
}

div.lupix-set{
    border:1px solid #ffffff;

}

div.lupix-set:hover{
    border:1px solid #cccccc;

}
div.lupix-set > div.lupix-element {
    border:1px solid #ffffff;

}

div.lupix-set > div.lupix-element:hover {
    border:1px solid #cccccc;

}

.lupix-se-menu{
    display:none;
}

.lupix-se:hover > .lupix-se-menu, .lupix-se-menu:hover{
    display:inline-block;
}
