@font-face {
    font-family: 'permianserif';
    src:url('../fonts/permianserif_regular_macroman/PermianSerifTypeface-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'questrialregular';
    src: url('../fonts/questrial_roman/questrial-regular-webfont.woff2') format('woff2'),
    url('../fonts/questrial_roman/questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
