/*####################################
##
##	Stildatei des Stils {Name}
##
##	Benutzer: {username}
##
##	Datum: {datum}
##
####################################*/


* {

    font-family: 'questrialregular',sans-serif;
    color:#202A4F;
    /*vertical-align: top;*/
    font-size: 12pt;

}

html{
    margin-bottom: 150pt;
}

html,body{
    height:100%;

}

body
{
    background-color:#EAEDF9;
    background:url(../img/background.png);
    background-size: cover;
    background-repeat:no-repeat;

    background-attachment: fixed;

}

.jumbotron{
    background-color:transparent;
}

#center{
    height:100%;
}

h1,h2,h3,h6, .ui-datepicker-title *,.ui-dialog-title {
    font-family: 'permianserif', serif;
    padding:0;
}

h4,h5{
    font-family: 'questrialregular',sans-serif;
    font-weight: bolder;
}

h6{
    font-style: italic;
}


#center > h1, #center > h2, .ui-datepicker-title *,.ui-dialog-title {
    color: #EAEDF9;
}


#center > h1, #center > h2, #left-content h1{

    position: relative;
    padding: 8pt 15pt;
    background-color: #395ECA;
    background-image: linear-gradient(#395ECA,#DADDF9);
    box-shadow: 0px 1px 4px -2px #333;
    border-radius: 3pt;
    text-decoration: none;
    color: #fff;
    font-weight: 100;
    text-shadow: #395ECA 1pt 1pt 2pt;
}

#center > h1:after, #center > h2:after, #left-content h1:after
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: 50%;
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.1));
}


.list-group-item h4{
    margin:0;

}

p{
    line-height: 150%;
    margin-bottom: 0;
}


#left-content,#right-content,#center-content{
    padding:0pt;
    background-color:#ffffff;
    margin:0pt;
    border:1px solid #cccccc;

}

#center-content h1,
#left-content h2,#right-content h2,#center-content h2,
#left-content h3,#right-content h3,#center-content h3,
#left-content h4,#right-content h4,#center-content h4,
#left-content h5,#right-content h5,#center-content h5,
#left-content h6,#right-content h6,#center-content h6
{
    padding:10pt;
    margin:0;
    background:linear-gradient(90deg,rgba(255,255,255,1) 20%, rgba(234,237,249,0)90%),  url(../img/material.jpeg);
    text-shadow: #eeeeee -1pt -1pt;
}


#left-content h2:first-child,#right-content h2:first-child,
#left-content h3:first-child,#right-content h3:first-child,
#left-content h4:first-child,#right-content h4:first-child,
#left-content h5:first-child,#right-content h5:first-child,
#left-content h6:first-child,#right-content h6:first-child
{
    padding:5pt;
    background:linear-gradient(0deg,rgba(255,255,255,1), rgba(234,237,249,0)90% ),  url(../img/material.jpeg);
}


#left-content h2,#right-content h2,
#left-content h3,#right-content h3,
#left-content h4,#right-content h4,
#left-content h5,#right-content h5,
#left-content h6,#right-content h6
{
    padding:5pt;
    background:linear-gradient(0deg,rgba(255,255,255,1), rgba(234,237,249,0)10%,rgba(234,237,249,0)90%,rgba(255,255,255,1) ),linear-gradient(90deg,rgba(255,255,255,1), rgba(234,237,249,0)90%,rgba(255,255,255,1) ),  url(../img/material.jpeg);
}

#left-content h1{
    font-size: 15pt;
}


#left-content h2{
    font-size: 14pt;
}


#left-content h3{
    font-size: 13pt;
}


#left-content h4{
    font-size: 12pt;
}


#left-content h5{
    font-size: 12pt;
}


#left-content h6{
    font-size: 11pt;
}

#left-content p,#right-content p,#center-content p{
    padding:5pt;
}


#left  p:last-child,#right p:last-child,#center-content  p:last-child
{
    border-bottom:none;
    border-radius: 5pt;
}


#left p,#right p,#center p
{    background: #ffffff;
}


#navi,#footer{
    background:linear-gradient(90deg,rgba(234,237,249,1), rgba(234,237,249,0)60% ,rgba(234,237,249,1)),  url(../img/material.jpeg);

}

#footer * {
    color:#aaaaaa;
    text-align: center;
}

a.button,
.lupix-btn,
button,
button.lupix-btn,
button.button,
input[type='submit'],
input[type='button'],
input[type='reset']
{
    position: relative;
    padding: 5pt 10pt;
    background-color: #395ECA;

    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.0)),linear-gradient(#EAEAEA,#E9EAED);
    background-position: 1pt 1pt,0 0;
    background-size: calc(100% - 2pt) 50%, 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0.5pt 0.5pt 2pt #333;
    border-radius: 10pt;
    text-decoration: none;
    color: #000000;

    border:none;
}


a.button:hover,
.lupix-btn:hover,
button:hover,
button.lupix-btn:hover,
button.button:hover,
input[type='submit']:hover,
input[type='button']:hover,
input[type='reset']:hover,
a.button:focus,
.lupix-btn:focus,
button:focus,
button.lupix-btn:focus,
button.button:focus,
input[type='submit']:focus,
input[type='button']:focus,
input[type='reset']:focus{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0)),linear-gradient(#395ECA,#EAEDF9);
}

a.button:active,
.lupix-btn:active,
button:active,
button.lupix-btn:active,
button.button:active,
input[type='submit']:active,
input[type='button']:active,
input[type='reset']:active
{
    background-image: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.0)),linear-gradient(#597EEA,#EAEDF9);
    color: #ffffff;
}



.list-group-item-dark{
    background-image:url(../img/material.jpeg);
}




.nav-tabs{
    border:none;
}

table,td{
    border-collapse: collapse;
    border:none;
    margin:0;
    padding:0;
}



nav#navi a.nav-link{
    font-size:15pt;
}
nav#navi .navbar-toggler{
    background-color:rgba(10,10,10,0.3);
}






nav#navi a.nav-link, nav#navi a.nav-link *, #footer *{
    text-shadow: #222222 1pt 1pt 1pt;
    color:rgba(255,255,255,0.8);
}

nav#navi a.nav-link:hover,nav#navi a.nav-link:hover *{
    color:rgba(255,255,255,0.6);
    text-shadow: #395ECA 1pt 1pt 0.7pt;
}


.admin-modul{
    background-image: url(../img/material.jpeg);
    height: 100%;
    overflow: hidden;
}
.admin-modul,.admin-modul-content{
    border-radius: 0.25rem;
}

.admin-modul-content{
    background-color:#ffffff;
    padding-bottom:5pt;
    height: 100%;
    overflow: scroll;
}

.admin-modul-content > h4,.admin-modul-content > h3,.admin-modul-content > h5,.admin-modul-content > h6,.admin-modul-content > p,.admin-modul-content> form{
    padding-left:10pt;
    padding-right:10pt;
}

.admin-modul-content > h3,.admin-modul-content > h4, .inhalt h3, .inhalt h4{
    padding: 10pt;
    background: linear-gradient(180deg,rgba(0,0,0,0) 60%,rgba(255,255,255,1)), url(../img/material.jpeg) ;
    text-shadow: #eeeeee -1pt -1pt;
}

.admin-modul-content table:not(.table) h5,.admin-modul-content table:not(.table)  td > h6{
    padding: 15pt;
    background: linear-gradient(90deg,rgba(255,255,255,1),rgba(0,0,0,0) 3%,rgba(0,0,0,0) 97%,rgba(255,255,255,1)),linear-gradient(180deg,rgba(255,255,255,1),rgba(0,0,0,0) 20%,rgba(0,0,0,0) 80%,rgba(255,255,255,1)), url(../img/material.jpeg) ;
    text-shadow: #eeeeee -1pt -1pt;
    font-weight: normal;
    border-radius:0.25rem;

}


.admin-modul-content h4, .admin-modul-content h3,.admin-modul-content h2, .admin-modul-content h1{
    color: rgba(255, 255, 255, 0.8);
    text-shadow: #111111 1pt 1pt 0.5pt;
}

.admin-modul-content h4.indoc, .admin-modul-content h3.indoc{
    border-radius: 0.25rem;
}

.admin-modul  a.nav-link{
    color: rgba(255,255,255,0.8);
    text-shadow: #111111 1pt 1pt 1pt;
    background:rgba(255,255,255,0.7);

    font-size:15pt;
    border: 0pt;
}

.admin-modul a.nav-link:hover{
    background:rgba(255,255,255,0.3);
}

.admin-modul  a.nav-link.active{
    color: rgba(255, 255, 255, 0.8);
    text-shadow: #111111 1pt 1pt 1pt;
    background:none;


}

.toast > .toast-header{
    background-color:#cccccc;
    color:#333333;
    text-shadow: #eeeeee -1pt -1pt;
}

.toast{
    right:0;
}


.error-table-entry.alert-warning:hover{
    background-color:#ffeeba;
}

.error-table-entry.alert-success:hover{
    background-color:#c3e6cb;;
}

.error-table-entry.alert-info:hover{
    background-color:#bee5eb;
}


#sidebar-wrapper nav h4,
#sidebar-wrapper nav h5,
#sidebar-wrapper nav h4 i::before,
#sidebar-wrapper nav h5 i::before,
#menubar-wrapper nav h4,
#menubar-wrapper nav h5,
#menubar-wrapper nav h4 i::before,
#menubar-wrapper nav h5 i::before,
#topbar-wrapper nav li.nav-item a.nav-link,
#topbar-wrapper nav li.nav-item a.nav-link i::before,
#sidebutton-wrapper *,
#topbutton-wrapper *,
#menubutton-wrapper *,
.input-group-text,
input[type=button],input[type=submit],
.lupix-btn, .lupix-btn *,
.btn, .btn *,
.button, .button *,
.lupix-button, .lupix-button,
button, button::after, button::before{
    color: rgba(255, 255, 255, 0.9);
    text-shadow: #111111 1pt 1pt 0.5pt;
}

#sidebar-wrapper nav h4,
#sidebar-wrapper nav h5,
#sidebar-wrapper nav h4 i::before,
#sidebar-wrapper nav h5 i::before,
#menubar-wrapper nav h4,
#menubar-wrapper nav h5,
#menubar-wrapper nav h4 i::before,
#menubar-wrapper nav h5 i::before,
#topbar-wrapper nav li.nav-item a.nav-link,
#topbar-wrapper nav li.nav-item a.nav-link i::before,
#sidebutton-wrapper *,
#topbutton-wrapper *,
#menubutton-wrapper *,
.input-group-text,
input[type=button],input[type=submit],
.lupix-btn, .lupix-btn *,
.btn, .btn *,
.button, .button *,
.lupix-button, .lupix-button,
button, button::after, button::before{
    color: rgba(255, 255, 255, 0.9);
    text-shadow: #111111 1pt 1pt 0.5pt;
}
/*
#sidebar-wrapper nav h4:hover,
#sidebar-wrapper nav h5:hover,
#sidebar-wrapper nav h4 i::before:hover,
#sidebar-wrapper nav h5 i::before:hover,
#menubar-wrapper nav h4:hover,
#menubar-wrapper nav h5:hover,
#menubar-wrapper nav h4 i::before:hover,
#menubar-wrapper nav h5 i::before:hover,
#topbar-wrapper nav li.nav-item a.nav-link:hover,
#topbar-wrapper nav li.nav-item a.nav-link i::before:hover,
#sidebutton-wrapper *:hover,
#topbutton-wrapper *:hover,
#menubutton-wrapper *:hover,
.input-group-text:hover,
input[type=button]:hover,input[type=submit]:hover,
.lupix-btn:hover, .lupix-btn *:hover,
.btn:hover, .btn *:hover,
.button:hover, .button *:hover,
.lupix-button:hover, .lupix-button:hover,
button, button::after:hover, button::before:hover {
    text-shadow: #395ECA 1pt 1pt 0.7pt;
}
*/
#topbar-wrapper nav li.nav-item a.nav-link:hover{
    color: rgba(255, 255, 255, 0.9);
    text-shadow: #395ECA 1pt 1pt 1pt;
}
