/*####################################
##									
##	Stildatei des Stils {Name}
##
##	Benutzer: {username}
##
##	Datum: {datum}
##									
####################################*/

body
{
    background-color:#EAEDF9;
    background-image:url(../bilder/wolf.jpg);
    background-size: cover;
}

* {

    font-family: 'questrialregular',serif;
    color:#202A4F;
    /*vertical-align: top;*/
    font-size: 11pt;

}

/* Buttonanpassung an den neuen Font*/

a.button, input{
    letter-spacing: -0.5pt;
}

img,table {
    border-width: 0px;
}

h1
{
    font-size: 12pt;
    color: #EAEDF9;
    background:linear-gradient(180deg,#395ECA,#848BD8 );
    padding:5px;
    border:0pt #cdd8eb outset;
    margin:5px 5px;
    letter-spacing:0.04em;
    font-family:'permianserif',sans-serif;

}

h2, h2 i
{
    font-size: 10pt;
    font-weight: normal;
    padding:5px;
    border:0pt #cdd8eb outset;
    background:linear-gradient(170deg,#395ECA,#848BD8 );
    color: #EAEDF9;
    margin:5px 5px;
    font-family:'permianserif',sans-serif;
    letter-spacing:0.04em;
    vertical-align:middle;

}

/*#links > p, #links form, #mitte p, #rechts  > p, #rechts form*/
p, #mitte form, div.p, ul, ol, h3,h4,h5
{
    padding:5px;
    margin:0 10px;
    text-align:justify;
    line-height: 200%;

}
p, #mitte form,td,th,li, div.p{
    color:#000000;
}

td.subhead, td.subtitle
{
    background-color: #3b5070;
    font-family:'Xorlosch leanderregular',sans-serif;
    border-radius:5pt;
    border:2pt #cdd8eb outset;
    color: #ffffcc;
}


h1 a, h2 a, td.subhead a, td.subtitle a {
    color:red;
    font-family:'Xorlosch leanderregular',sans-serif;
}

#links form
{
    text-align:center;
}

#links, #rechts, #mitte
{
    border:4px #cdd8eb solid;
    background-color:#EAEDF9; /*332814; /*403521; /*#200C01; */
    padding-bottom:0pt;
    margin-bottom:5pt;
}


#mitte > *:not(#footer,#navitabelle_unten)
{
    margin:5px 5px 5px 10px;
    padding:5px;
}

#mitte > ul >li
{
    margin:4px 2px 4px 30px;
    padding:0px;
}

#rechts .nasy_navigation {
    width: 90%;
    text-align: center;
    margin: 5pt auto 10pt auto;
}

#rechts .nasy_navigation a {
    margin: 0 5pt;
}

a:link		{ color: #561d25; }
a:visited	{ color: #561d25; }
a:hover		{ color: #ce8147; }

.alternativ {
    font-size: 14px;
    color: #dda;
    background: #3D332A;
}

.navigation {
    font-size: 14pt;
    color: #ffffcc;
    background: #222222;
}

.fehler {
    font-size: 11pt;
    color: #6D231A;
    background-color: #ff938A;
    font-weight: normal;
    border: 1px #7D332A dashed;
    border-radius: 3pt;
}

input.fehler,textarea.fehler,select.fehler {
    border: #6D231A 1px solid;
}

.erfolg, div.erfolg, p.erfolg, span.erfolg {
    font-size: 11pt;
    color: #000;
    background-color: #77d977;;
    font-weight: normal;
    border: 1px #2A7D33 dashed;
    border-radius:3pt;
}

input.erfolg,textarea.erfolg,select.erfolg {
    border: #2A7D33 1px solid;
    background-color: #77d977;
    color: #2A7D33;
}


.hinweis {
    font-size: 11pt;
    color: #3b5070;
    background-color: #ffffcc;
    font-weight: normal;
    border: 1px #3b5070 dashed;
    border-radius:3pt;
    vertical-align: middle;
}

.button.hinweis{
    background-color: #ffffcc;
    color: #3b5070;
    border: 1px solid #3b5070;
}

.button.hinweis i{
    background-color: #ffffcc;
    color: #3b5070;
    border: none;
}

a.button.hinweis:hover i, a.button.hinweis:hover, a.button.hinweis:hover span.fa{
    background-color: #3D332A;
    color: #ffffcc;

}

.button.positiv, .icon.positiv, .button.positiv *, .icon.positiv *, .positiv{
    background-color: #2A7D33;
    color: #000;
    border: 1px solid #000;
}

a.button.positiv:hover, .icon.positiv:hover, a.button.positiv:hover *, .icon.positiv:hover *{
    background-color: #8Abb93;
    color: #2A7D33;
    border: 1px solid #2A7D33;
}



.button.negativ, .icon.negativ, .button.negativ *, .icon.negativ *, .negativ {
    background-color: #7D332A;
    border: 1px solid #000;
}

a.button.negativ:hover, .icon.negativ:hover, a.button.negativ:hover *, .icon.negativ:hover * {
    background-color: #DD938A;
    color: #7D332A;
    border: 1px solid #7D332A;
}



.icon.positiv *, .icon.negativ *, .icon.positiv:hover *, .icon.negativ:hover *, a.button.negativ:hover *, a.button.positiv:hover{
    border:none;
}

.button.icon-button,a.button.icon-button {
    padding:5pt;
}


a.button *.fa, a.icon *.fa, *.button *.fa, *.icon *.fa, a.button:hover *.fa, a.icon:hover *.fa, *.button:hover *.fa, *.icon:hover *.fa{
    margin-top:2pt;
    border:none;
    background-color:transparent;

}

.icon  {
    font-style:normal;
    border: 1px #ffffcc solid;
    background-color: #3D332A;
    color: #ffffcc;
    text-decoration:none;
    border-radius:5px;
    padding:3pt 3pt 1pt 3pt;
    display:inline-block;

}









/*
background-color:#3b5070;
background-image:url(../bilder/streifen_xorlosch.png);
background-repeat:repeat-x;
}

* {

    font-family: Georgia,Verdana;

    vertical-align: top;
    font-size: 11pt;
    color: #ffffcc;*/


.smalltext {
    font-size: 8pt;
}

.big {
    font-size: 13pt;
    color: orange;
    font-weight: bold;
}

.beitrag {
    border-width:0px;
    border-spacing: 2px;
    background-color: #222222;
}






input,select,textarea,a.button,.button {
    font-style:normal;
    border: 1px #848BD8 solid;
    background:transparent;
    color: #343e63;
    text-decoration:none;
    border-radius:5px;
    padding:5pt;
    display:inline-block;
}


textarea{
    padding: 10pt;
    line-height: 20pt;
}



input[type=submit], input[type=button], input[type=reset], a.button,.button{
    cursor:pointer;
}

input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, a.button:hover ,.button:hover,a.button:hover span.fa,.button:hover span.fa {
    color: #EAEDF9;
    border: 1px #848BD8 solid;
    background-color:#848BD8;
    background:linear-gradient(90deg,#395ECA ,#848BD8 95% );
}

a.button:hover span.fa,.button:hover span.fa{
    border:none;
}





.Seitentitel, .kleiner_Seitentitel
{
    font-size:35px;
    border:0 #cdd8eb outset;
}

.kleiner_Seitentitel{
    font-size: 14pt;
}



div.nasyinfo
{
    background-image:url(../bilder/papierstueck_klein.png);
    background-size:100%;
    -webkit-background-origin: padding-box;
    -moz-background-origin: padding-box;
    -o-background-origin: padding-box;
    -ms-background-origin: padding-box;
    background-size:100% 100%;
    background-clip: padding-box;
    padding:10px 10px 10px 10px;
    margin:4px;
}

div.nasyinfo h2
{
    color:#19140E;
    font-size: 12px;
    font-weight: bolder;
    font-family:sans-serif;
    letter-spacing:0.04em;
    vertical-align:top;
    /*background-color:rgb(190,160,123);*/
    cursor:pointer;
    background-color:rgba(223,187,136,0.7);/*rgba(61,51,42,0.9);*/
    border-radius:7px;
    margin:0px;
    padding:5px 5px 5px 10px;
}

div.nasyinfo p, div.nasyinfo p *
{
    padding-left:10px;
    font-size: 11px;
}

div.nasyinfo p
{
    color:#000;
}


#heldenbrief {padding:10pt;}

.rand-heldenbrief,.rand-gruppe{
    border-collapse:collapse;
    border-spacing:0;
    -webkit-box-shadow: 0px 0px 4px 8px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 4px 8px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 4px 8px rgba(0,0,0,0.25);
    padding: 5pt 10pt;
    margin-bottom: 15pt;
    overflow: hidden;
}

.rand-gruppe{
    padding: 5pt 5pt;
    height:100%;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    min-width:100%;
    min-width:100%;
}


.tg td{
    font-size:11pt;
    padding:8pt 4pt;
    overflow:hidden;
    word-break:normal;
}

.tg th{
    font-size:11pt;
    font-weight:normal;
    padding:8pt 4pt;
    border-style:solid;
    border-width:1pt;
    overflow:hidden;
    word-break:normal;
}

.tg td{
    /*border-collapse: collapse;
    border: 3pt double #ffffcc;*/
    border-collapse: collapse;
    border: 2pt solid rgba(0,0,0,0.25);
    /*box-shadow: inset 0pt 0pt 2pt 2pt #755b38;*/
}

.tg .tg-s6z2{
    text-align:center;
}

.tg .tg-baqh{
    text-align:center;
    vertical-align:top;
    border-width:0pt;
    font-size:16pt;

}

.tg .tg-baqh::first-letter{
    font-size:24pt;
}

.tg .tg-yw4l{
    vertical-align:top;
}

td.tg-yw42 {
    width:18%;
    font-weight:bold;
}

th.tg-yw43 {
    width:18%;
    font-weight:bold;
    text-align:center;
    border: none;
}

td.tg-yw44 {
    width:8%;
    font-size:8pt;
    text-align:center;
}

th.tg-yw45 {
    width:4%;
    font-family:'Xorlosch leanderregular';
    border-width:0pt;
    font-size:11pt;
    text-align:center;
}

th.tg-yw46 {
    border-width:0pt;
    font-family:'Xorlosch leanderregular';
    font-size:11pt;
    text-align:center;
    background-color: rgba(100,100,100,0.3);
}

th.tg-yw47 {
    font-family:'Xorlosch leanderregular';
    border-width:0pt;
    font-size:11pt;
}

th.tg-yw47::first-letter{
    font-size:19pt;
}

th.tg-yw48 {
    width:8%;
    border-width:0pt;
    text-align:center;
    vertical-align:middle;
}

th.tg-yw49 {
    width:16%;
    border-width:0pt;
    text-align:center;
    vertical-align:middle;
}

th.tg-yw50 {
    vertical-align:top;
    font-family:'Xorlosch leanderregular';
    border-width:0pt;
}

th.tg-yw50::first-letter{
    font-size:19pt;
}

td.tg-yw51 {
    font-weight:bold;
    border-width:0pt;
}

td.tg-yw52 {
    width:8%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw53 {
    width:15%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw54 {
    width:16%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw55 {
    width:12%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw56 {
    font-weight:bold;
    border-width:0pt;
}

th.tg-yw57 {
    width:12%;
    font-family:'Xorlosch leanderregular';
    border-width:0pt;
    font-size:11pt;
    text-align:center;
}

th.tg-yw58 {
    font-family:'Xorlosch leanderregular';
    border-width:0pt;
    font-size:11pt;
    text-align:center;
    background-color: rgba(100,100,100,0.3);
}

td.tg-yw59 {
    width:10%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw60 {
    width:7%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw61 {
    width:12%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw62 {
    font-weight:bold;
    border-width:0pt;
    vertical-align:middle;
}

th.tg-yw63 {
    font-weight:bold;
    border-width:0pt;
    vertical-align:middle;
}

th.tg-yw64 {
    width:10%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

th.tg-yw65 {
    width:7%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

th.tg-yw66 {
    width:12%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

th.tg-yw67 {
    width:20%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw68{
    vertical-align:top;
    font-weight:bold
}

td.tg-yw69 {
    width:8%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw70 {
    width:16%;
    text-align:center;
    vertical-align:middle;
    border-width:0pt;
}

td.tg-yw71 {
    width:4%;
    border-width:0pt;
}

td.tg-yw72 {
    vertical-align:top;
    border-width:0pt;
}

td.tg-yw73 {
    width:24%;
    font-weight:bold;
    border-width:0pt;
}



.hero_overview, .group_fix_border, .szene_overview, .szene_meister_beitrag,.szene_box_beitrag,#group_filter{
    width:  96%; overflow: auto; box-shadow: 0pt 0pt 5pt 2pt #000;
    margin:5pt;
    padding:5pt;
    border-radius:5pt;
    cursor:pointer;
}


.hero_overview:hover, .group_fix_border:hover, .szene_overview:hover{
    width:  96%; overflow: auto; box-shadow: inset 0pt 0pt 5pt 2pt #000;margin:5pt;padding:5pt;
}


.group_fix_border,  #group_filter, .group_fix_border:hover{
    width:95%;
    margin:10pt;
}

.group_overview_invitation{
    width:  95%; overflow: auto;
    box-shadow: 0pt 0pt 2pt 2pt #0A7D13;
    color:#000000;
    margin:10pt;
    padding:5pt;
    border-radius:5pt;
    cursor:pointer;
}

.group_overview_invitation:hover{
    width:  95%; overflow: auto; box-shadow: inset 0pt 0pt 5pt 2pt #2A5D33;margin:10pt;padding:5pt;background:rgba(0,0,0,0.1);
}

.group_overview_request{
    width:  95%; overflow: auto;
    box-shadow: 0pt 0pt 2pt 2pt #ffffcc;
    color:#000000;
    margin:10pt;
    padding:5pt;
    border-radius:5pt;
    cursor:pointer;
}

.group_overview_request:hover{
    width:  95%; overflow: auto; box-shadow: inset 0pt 0pt 2pt 2pt #ffffcc;margin:10pt;padding:5pt;
}

.group_overview_admin{
    width:  95%; overflow: auto;
    box-shadow: 0pt 0pt 5pt 2pt #300000;
    color:#000000;
    margin:10pt;
    padding:5pt;
    border-radius:5pt;
    cursor:pointer;
}

.group_overview_admin:hover{
    width:  95%; overflow: auto; box-shadow: inset 0pt 0pt 5pt 2pt #300000;margin:10pt;padding:5pt;
}

.szene_overview, .szene_overview:hover{
    padding:5pt;
    margin:5pt;
    width:96%;
    min-height:50pt;
}

.szene_overview >p, .szene_overview:hover >p,.szene_overview:hover >div {
    display: inline-block;
    opacity: 1;
    width: 85%;
}

.szene_meister_beitrag,.szene_box_beitrag{
    cursor:auto;
}



.szene_2, .szene_2:hover,.szene_3, .szene_3:hover ,.szene_4, .szene_4:hover ,.szene_overview, .szene_overview:hover {

    display: inline-block;
    float:left;
    clear:both;

}
.szene_parallel_2,.szene_parallel_3,.szene_parallel_4,.szene_parallel_2:hover,.szene_parallel_3:hover,.szene_parallel_4:hover{
    float:left;
    clear:none;
    margin-bottom:10pt;
}

.szene_parallel_2, .szene_parallel_2:hover, .szene_2, .szene_2:hover {
    width:46.2%;
}

.szene_parallel_3, .szene_parallel_3:hover, .szene_3, .szene_3:hover {
    width:29.5%;
}

.szene_parallel_4, .szene_parallel_4:hover,.szene_4, .szene_4:hover {
    width:21.2%;
}
.szene_voll, .szene_voll:hover{
    width:96%;
}

.szene_undisplayed, p.szene_undisplayed{
    display:none;
}

.szene_invisible, p.szene_invisible{
    display:inline-block;
    opacity:0;
}

.szene_title,p.szene_title,.szene_title:hover, *:hover p.szene_title{
    width:90%;
    clear:both;
    display:block;
}

.szene_parallel_34, .szene_parallel_34:hover {
    width: 70.8%;
    float: left;
    height: 200pt;
    clear:none;
}

.szene_open{
    background:#1D431A;
}

.szene_open:hover{
   background: #1D531A;
}

.szene_overview p.szene_neue_szene_option {
    width: auto;
    margin:0;
}



.szene_parallel_2 p.szene_player_post_content,
.szene_parallel_3 p.szene_player_post_content,
.szene_parallel_4 p.szene_player_post_content,
.szene_parallel_2:hover p.szene_player_post_content,
.szene_parallel_3:hover p.szene_player_post_content,
.szene_parallel_4:hover p.szene_player_post_content{
    display:none;
}

.szene_parallel_2.szene_voll p.szene_player_post_content,
.szene_parallel_3.szene_voll p.szene_player_post_content,
.szene_parallel_4.szene_voll p.szene_player_post_content,
.szene_parallel_2.szene_voll:hover p.szene_player_post_content,
.szene_parallel_3.szene_voll:hover p.szene_player_post_content,
.szene_parallel_4.szene_voll:hover p.szene_player_post_content{
    display:block;
}

.szene_parallel_2 p.szene_player_post_title,
.szene_parallel_3 p.szene_player_post_title,
.szene_parallel_4 p.szene_player_post_title,
.szene_parallel_2:hover p.szene_player_post_title,
.szene_parallel_3:hover p.szene_player_post_title,
.szene_parallel_4:hover p.szene_player_post_title{
    display:block;
}

.szene_parallel_2.szene_voll p.szene_player_post_title,
.szene_parallel_3.szene_voll p.szene_player_post_title,
.szene_parallel_4.szene_voll p.szene_player_post_title,
.szene_parallel_2.szene_voll:hover p.szene_player_post_title,
.szene_parallel_3.szene_voll:hover p.szene_player_post_title,
.szene_parallel_4.szene_voll:hover p.szene_player_post_title{
    display:none;
}

div.master_frame{
    margin:0;
    padding:0;
}

.master_frame:not(.szene_ausgeklappt) div.szene_meister_beitrag p, .master_frame:not(.szene_ausgeklappt) div.meister_box_beitrag ,.master_frame:not(.szene_ausgeklappt) div.szene_postcolumn{
    display:none;
}


div.master_frame div.szene_meister_beitrag h1{
    cursor:zoom-in;
}

div.master_frame.szene_ausgeklappt div.szene_meister_beitrag h1{
    cursor:zoom-out;
}


.hero_overview-name, .hero_overview-heldentyp{
    width:30%;
    font-weight: bolder;
}

.hero_overview-name, .hero_overview-heldentyp,.hero_overview-active, .hero_overview-stufe, .hero_overview-ap, .hero_overview-LE, .hero_overview-AU, .hero_overview-AE, .hero_overview-KE{
    min-width:15%;
    margin: 0 5pt;
    display:inline-block;
}


.rechtswoop {
    float:right;
    margin-right: 8pt;
}

.szene_meister_beitrag p,.szene_box_beitrag p{
    line-height: 20pt;
}



.lupix_hero_progress_line{

}

.lupix_hero_progress_line div{
    display:inline-block;
    padding:2pt;
    min-width:13%;
    text-align:center;
    padding:2pt;
}

div#mitte > #tabs.ui-widget.ui-widget-content {
    border: none;
    background:transparent;
}

div#mitte > #tabs.ui-widget.ui-widget-content ul.ui-tabs-nav {
    background-image:none;
    border:none;
    background-color:transparent;
    margin:5pt 15pt;
    box-shadow: 0px 0px 4px 8px rgba(0,0,0,0.25);
    border-radius:0;
}


.hinweis span.fa{
    color:#000;
}

.hinweis:hover span.fa{
    color:#ffffcc;
}

#mitte img.group_log_avatar {
    width: 40pt;
    float: left;
    margin: 5pt;
    border-radius: 50pt;
}


#rechts img.group_log_avatar {
    width: 20pt;
    float: left;
    margin: 5pt;
    border-radius: 50pt;
}


div#news h2
{
    color:#19140E;
    font-size: 16px;
    font-weight: bolder;
    padding:10px 7px 7px 30px;
    margin:5px 5px;
    letter-spacing:-0.04em;
    vertical-align:middle;
    background-image:url(../bilder/langerolle.png);
    background-position:-25px -12px;
    background-repeat:no-repeat;
    background-origin: content-box;
    background-size:100% 35px;
    background-clip: padding-box;


    /*background-color:rgb(190,160,123);*/
    cursor:pointer;
}

div#news h2 *{
    color:#19140E;
    font-size: 16px;
    font-weight: bolder;
    letter-spacing:-0.04em;
}

div#news .newsbody > div
{
    display:none;
}